<!--  
    This template presents and handles the lists of movies.
Author(s):
    Handy Hasan
Date Created:
    May 9, 2021
-->
<ng-container *ngIf="movies != undefined && movies.length > 0 && !criticalErrorDetected">
    <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="10px" fxLayoutAlign="flex-start">
        <ng-container *ngFor="let movie of movies">
            <app-movie class="movie" fxFlex="0 1 calc(25%-10px)" fxFlex.lt-md="0 1 calc(50% - 10px)" fxFlex.lt-sm="100%"
                [movie]="movie"></app-movie>
        </ng-container>
    </div>
</ng-container>
<ng-container *ngIf="criticalErrorDetected">
    Both Filmworld and Cinemaworld API are currently unavailable.
</ng-container>