<mat-sidenav-container>
  <mat-sidenav-content>
    <div class="text">
      <h1>Prince's Theatre</h1>
      <h2>Classic Movies at Home</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer in diam id urna aliquam auctor sit amet id
        dolor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris sit
        amet arcu sed tortor luctus hendrerit. Pellentesque turpis metus, porta non dui at, tincidunt dapibus sapien.
        Morbi sagittis tempor blandit. Praesent nec nisi quam. Vestibulum nec dictum felis. Nullam molestie libero elit,
        sed sodales est viverra id. Sed dignissim porta justo eu varius. Sed malesuada rhoncus urna. Duis cursus sem non
        odio faucibus, vitae scelerisque tellus consequat. Sed quis ex sit amet ante sagittis sagittis. Integer
        consectetur pretium lacinia. Nunc ut nibh eros. Quisque dignissim purus pharetra, maximus elit ut, facilisis
        lectus.
      </p>
    </div>
    <app-movie-list></app-movie-list>
  </mat-sidenav-content>
</mat-sidenav-container>